@page "/storybook"

<ViewPort class="storybook">
    <CascadingValue Value="@((Func<string, Task>)SetCurrentStory)" Name="SetCurrentStory">
        <Sidebar currentStory="@CurrentStory" />
        <Fill>
            <Fill class="main-pane">
                <Top class="top-bar" size="40px">
                    <ul>
                        <li class="active"><a>Canvas</a></li>
                        <li><a>Docs</a></li>
                    </ul>
                </Top>
                <Fill>
                    <iframe src="@iframeSource" frameBorder="0" width="100%" height="100%" />
                </Fill>
            </Fill>
        </Fill>
    </CascadingValue>
</ViewPort>

@code {
    string iframeSource => $"/storybook/component/{CurrentStory}";

    string CurrentStory { get; set; } = BlazorBook.Components.ComponentNames.FirstOrDefault();

    private Task SetCurrentStory(string component)
    {
        Console.WriteLine(component);
        CurrentStory = component;
        StateHasChanged();
        return Task.CompletedTask;
    }
}