@page "/"

<Fill>
    <Left Size='@sidebarSize' style="background-color: #ffeeee;">
        Left
        <p><button @onclick="ButtonClicked">Toggle</button></p>
    </Left>
    <Fill>
        <Top Size="25%" style="background-color: #eeeeff;">
            Top
        </Top>
        <Fill>
            <Left Size='25%' style="background-color: #eeffee;">
                Left
            </Left>
            <Fill>
                <Top Size="25%" style="background-color: #eeeeff;">
                    Top
                </Top>
                <Fill>
                    Main
                </Fill>
                <Bottom Size="25%" style="background-color: #eeeeff;">
                    Top
                </Bottom>
            </Fill>
            <Right Size='25%' style="background-color: #ffeeee;">
                Right
            </Right>
        </Fill>
        <Bottom Size="25%" style="background-color: #eeeeff;">
            Top
        </Bottom>
    </Fill>
    <Right Size='25%' style="background-color: #eeffee;">
        Right
    </Right>
</Fill>

@code {

    bool expanded { get; set; } = false;































































































































































































































































































































































































































































































































    string sidebarSize => expanded ? "50%" : "25%";































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    private void ButtonClicked(MouseEventArgs e)































































































































































































































































































































































































































































































































    {































































































































































































































































































































































































































































































































        expanded = !expanded;































































































































































































































































































































































































































































































































    }
}