@page "/"

<Fill>
    @if (visible)
    {
    <Left Size='@sidebarSize' style="background-color: #ffeeee;">
        Left
        <p><button @onclick="ToggleSize">Toggle</button></p>
    </Left>
    }
    <Fill>
        <Layer ZIndex="2">
            <Top Size="25%" style="background-color: #eeeeff;">
                Top
            </Top>
            <Fill>
                <Left Size='25%' style="background-color: #eeffee;">
                    Left
                </Left>
                <Fill>
                    <Top Size="25%" style="background-color: #eeeeff;">
                        Top
                    </Top>
                    <Fill>
                        Main
                        <p><button @onclick="ToggleVisibility">Toggle visibility</button></p>
                    </Fill>
                    <Bottom Size="25%" style="background-color: #eeeeff;">
                        Top
                    </Bottom>
                </Fill>
                <Right Size='25%' style="background-color: #ffeeee;">
                    Right
                </Right>
            </Fill>
            <Bottom Size="25%" style="background-color: #eeeeff;">
                Top
            </Bottom>
        </Layer>
    </Fill>
    <Right Size='25%' style="background-color: #eeffee;">
        Right
    </Right>
</Fill>

@code { 
    bool expanded { get; set; } = false;
    bool visible { get; set; } = true;
    string sidebarSize => expanded ? "50%" : "25%";

    private void ToggleSize()
    {
        expanded = !expanded;
    }

    private void ToggleVisibility()
    {
        visible = !visible;
    }
}