@page "/"

<Fill>
    @if (visible)
    {
        <LeftResizable Size="@sidebarSize" style="background-color: #ffeeee; padding: 10px;">
            Left
            <p><button @onclick="ToggleSize">Toggle</button></p>
        </LeftResizable>
    }
    <Fill>
        <Layer ZIndex="2">
            <TopResizable Size="25%" style="background-color: #eeeeff; padding: 10px;">
                Top
            </TopResizable>
            <Fill>
                <LeftResizable Size="25%" style="background-color: #eeffee; padding: 10px;">
                    Left
                </LeftResizable>
                <Fill>
                    <TopResizable Size="25%" style="background-color: #eeeeff; padding: 10px;">
                        Top
                    </TopResizable>
                    <Fill style="padding: 10px;">
                        Main
                        <p><button @onclick="ToggleVisibility">Toggle visibility</button></p>
                    </Fill>
                    <BottomResizable Size="25%" style="background-color: #eeeeff; padding: 10px;">
                        Top
                    </BottomResizable>
                </Fill>
                <RightResizable Size="25%" style="background-color: #ffeeee; padding: 10px;">
                    Right
                </RightResizable>
            </Fill>
            <BottomResizable Size="25%" style="background-color: #eeeeff; padding: 10px;">
                Top
            </BottomResizable>
        </Layer>
    </Fill>
    <RightResizable Size="25%" style="background-color: #eeffee; padding: 10px;">
        Right
    </RightResizable>
</Fill>

@code { 
    bool expanded { get; set; } = false;
    bool visible { get; set; } = true;
    string sidebarSize => expanded ? "50%" : "25%";

    private void ToggleSize()
    {
        expanded = !expanded;
    }

    private void ToggleVisibility()
    {
        visible = !visible;
    }
}